<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <title>#hashtaggr</title>

  <!-- Templates -->
  <script type="text/template" id="track-template">
    <div>
      <h3> <%= artist %> - <%= title %> </h3>
      <ul>
        <% _.each(tags, function(tag) { %> <li class="tag">#<%= tag %></li> <% }); %>
      </ul>
    </div>
  </script>
  <script type="text/template" id="current-track-template">
      <h3><%= artist %> - <%= title %> </h3>
      <ul id="tags-for-track">
        <% _.each(tags, function(tag) { %> <li class="tag">#<%= tag %></li> <% }); %>
      </ul>
      
      <h2>Related tracks</h2>
      <ul id="related-for-track">
        <% _.each(related, function(track) { %> 
          <li><%= track.title %></li>   
          <ul>
          <% _.each(track.tags, function(tag) { %> 
            <li><%= tag %></li> 
          <% }); %>
          </ul>
      <% }); %>
      </ul>
  </script>

  <script src="js/lib/underscore-min.js"></script>
  <script src="js/lib/jquery.min.js"></script>
  <script src="js/lib/backbone.js"></script>
  <script src="js/lib/backbone.localStorage.js"></script>
  <script src="js/lib/bootstrap.min.js"></script>

  <script src="js/models/track.js"></script>
  <script src="js/collections/tracks.js"></script>
  <script src="js/views/tracks.js"></script>
  <script src="js/views/currentTrack.js"></script>
  <script src="js/views/app.js"></script>
  <script src="js/index.js"></script>

  <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css" />
  <link rel="stylesheet" type="text/css" href="css/style.css" />

</head>
<body>

<section id="hashtaggr-app">
  <header>
    <h1>#hashtaggr</h1>
<!--     <nav>
      <a href="index.html">Home</a>
      <a href="index.html#tags">All tags</a>
      <a href="index.html#tag/money">Tracks for tag "money"</a>
    </nav> -->
  </header>
  <section id="main">
    <div id="current-track">

      <h2>Artist - Title</h2>
      <ul id="tags-for-track">
        <li>#tag1</li>
        <li>#tag2</li>
        <li>#tag3</li>
      </ul>

    </div>
    <!-- <ul id="track-list"></ul> -->
  </section>
  <footer>
    <div id="footer"></div>
  </footer>
</section>

</body>
</html>